@model IEnumerable<DAL.Models.ClubDiscussion>

<table class="text-center w-100">
    <tr>
        <th>
            <p class="display-7 v2"><strong>Discussion</strong></p>
        </th>
        <th>
            <p class="display-7 v2"><strong>Date/Time</strong></p>
        </th>
        <th>
            <p class="display-7 v2"><strong>Book Count</strong></p>
        </th>
    </tr>
</table>
<div class="w-100" style="max-height: 300px; overflow:auto;">
    <table class="text-center w-100">
        @foreach (var d in Model)
        {
            await Html.RenderPartialAsync("_DiscussionTableRow", d);
        }
    </table>
</div>