@*
    Required to pass ViewBag.BookList (type: IEnumerable<DAL.Models.Book>)
    returns list of bookId's
*@

@{
    int num = -1;
    foreach (DAL.Models.Book b in ViewBag.BookList)
    {
        <tr id="@b.ID">
            @{
                await Html.RenderPartialAsync("../Book/Partial/_BookTableRow", b);
                num++;
            }
            <td>
                <input type="checkbox" style="width:1.6rem; height:1.6rem;" onclick="ToggleBookAndPlaceFirst(@b.ID)">
            </td>
        </tr>
    }
}