@*
    Required to pass ViewBag.BookList (type: IEnumerable<DAL.Models.Book>)
    returns list of bookId's
*@

@model BookPickerModel

@Html.HiddenFor(m => m.entityID)
@{
    int num = -1;
    foreach (DAL.Models.Book b in ViewBag.BookList)
    {
        <tr>
            @{
                await Html.RenderPartialAsync("../Book/Partial/_BookTableRow", b);
                num++;
            }
            <td>
                <input style="width:1.6rem; height:1.6rem;" asp-for="@Model.added[num]">
                @Html.HiddenFor(m => m.ids[num])
            </td>
        </tr>
    }
}