@{
    Layout = "_Layout";
}

@section LeftNavbar{
    <div class="left-navbar">
        <div class="align-items-sm-start px-3 pt-2">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                <li class="w-100">
                    <a asp-area="" asp-controller="Clubs" asp-action="MyClubs" class="nav-link font-weight-bold px-0">
                        <img src="~/icons/my_clubs.png" class="rem-2">
                        <span class="d-none d-sm-inline">My Clubs</span>
                    </a>
                </li>
                <li class="w-100">
                    <a asp-area="" asp-controller="Clubs" asp-action="Managed" class="nav-link font-weight-bold px-0">
                        <img src="~/icons/managed_clubs.png" class="rem-2">
                        <span class="d-none d-sm-inline">Managed</span>
                    </a>
                </li>
                <li class="w-100">
                    <a asp-area="" asp-controller="Members" asp-action="Invites" class="nav-link font-weight-bold px-0">
                        <img src="~/icons/invites.png" class="rem-2">
                        <span class="d-none d-sm-inline">Invites</span>
                    </a>
                </li>
                <li class="w-100">
                    <a asp-area="" asp-controller="Clubs" asp-action="Create" class="nav-link font-weight-bold px-0">
                        <img src="~/icons/add_club.png" class="rem-2">
                        <span class="d-none d-sm-inline">Create</span>
                    </a>
                </li>
                <li class="w-100">
                    <a asp-area="" asp-controller="Clubs" asp-action="UpcomingDiscussions" class="nav-link font-weight-bold px-0">
                        <img src="~/icons/discussion.png" class="rem-2">
                        <span class="d-none d-sm-inline">Discussions</span>
                    </a>
                </li>
                <li class="w-100">
                    <a asp-area="" asp-controller="Clubs" asp-action="Browse" class="nav-link font-weight-bold px-0">
                        <img src="~/icons/search.png" class="rem-2">
                        <span class="d-none d-sm-inline">Browse</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
}

<div class="text-center">
    @RenderSection("Header", required: true)
    <hr class="bg-dark margin-no-vertical border-dark" style="width:70%">
</div>

@RenderBody()

@section Scripts
{
    @RenderSection("Scripts", required: false)
}