@model DAL.Models.Ban

@{
    string sectionStyle = "display:" + (Model.Forever ? "none" : "block");
}

@Html.HiddenFor(x => x.BannedUserID)
@Html.HiddenFor(x => x.ClubID)

<strong><label class="display-8" asp-for="Forever"></label></strong>
<br />
<input style="width:1.6rem; height:1.6rem;" asp-for="Forever" onclick="ToggleBanDuration()">
<br />
<div id="ExpirationTimeSection" style="@sectionStyle">
    <strong><label class="display-8" asp-for="ExpirationTime"></label></strong>
    <br />
    <input class="display-8 form-control w-auto" asp-for="ExpirationTime" asp-format="{0:yyyy-MM-ddTHH:mm}">
    <span class="display-8" style="color:red;" asp-validation-for="ExpirationTime"></span>
    <br />
</div>

<strong><label class="display-8" asp-for="Message"></label></strong>
<br />
<textarea type="text" class="display-8 description-field" placeholder="Ban reason"
          rows="3" maxlength="255" style="width:100%" asp-for="Message"></textarea>
<span class="display-8" style="color:red;" asp-validation-for="Message"></span>
