
@model DAL.Models.ClubMember

<tr>
    <td>
        <a class="display-8" asp-controller="Members" asp-action="Edit" 
           asp-route-id="@ViewBag.ClubId" asp-route-userId="@Model.User.Id">
        @Model.User.UserName</a>
    </td>
    <td>
        @{ 
            string textColor = "inherit";
            string role = Model.PermissionLevel.ToString();
            if (Model.Club.Creator.Id == Model.User.Id)
            {
                textColor = "#eba000";
                role = "Creator";
            }
            else if (Model.PermissionLevel > DAL.DTO.MemberPermissions.Reader)
                textColor = "#00a60e";
        }
        <p class="display-8 mb-0" style="color:@textColor">@role</p>
    </td>
</tr>