@{
    Layout = "_ClubsMenuLayout";
}

@model DAL.Models.Club

@section Header
{
    <h1 class="display-5">@Model.Name - Add books</h1>
}
@section Scripts{
    <script type="text/javascript">
    function ToggleBook(id)
    {
        var req = {
            targId: id,
            listName : 'SelectedBookList'
        };
        $.ajax({
            type: 'POST',
            url: '/Function/ViewDataToggleIDList',
            data: req,
            success: function () { }
          });
    }
    </script>
}
<br>
<form method="post" asp-controller="Clubs" asp-action="AddBooksConfirm" asp-validation-summary="All">
    @Html.HiddenFor(m => m.ID)
    <div class="text-center">
        <table class="w-100">
            <tr>
                <th>
                    <h1 class="display-7 v2"><strong>Book</strong></h1>
                </th>
                <th>
                    <h1 class="display-7 v2"><strong>Author</strong></h1>
                </th>
                <th>
                    <h1 class="display-7 v2"><strong>Add</strong></h1>
                </th>
            </tr>
            @{
                await Html.RenderPartialAsync("../Book/Partial/_BookPicker");
                TempData.Keep("SelectedBookList");
            }
        </table>

        <br /><br />
        <div style="text-align:center">
            <input type="submit" value="Add selected" class="display-6 submit-default">
        </div>
    </div>
</form>