@{
    Layout = "_ClubsMenuLayout";
}

@model DAL.Models.Club

@section Header
{
    <h1 class="display-4">Edit Club</h1>
}

<br>
<form method="post" asp-controller="Clubs" asp-action="Edit" asp-validation-summary="All" enctype="multipart/form-data">
    <div class="club-box">
        @{
            await Html.RenderPartialAsync("Partial/_ClubFormPartial", Model);
        }

        <br /><br />
        <div style="text-align:center">
            <input type="submit" value="Confirm changes" class="display-6 submit-default">
        </div>
    </div>
</form>