@{
    Layout = "_ClubsMenuLayout";
}

@model DAL.Models.Club

@{
    (string className, int maxLen)[] classNameLen = { ("display-4", 30), ("display-5", 50), ("display-7", 70) };
    int currentClassNameLenInd = 0;
    while (Model.Name.Length > classNameLen[currentClassNameLenInd].maxLen
        && currentClassNameLenInd < classNameLen.Length - 1)
        currentClassNameLenInd++;
    string nameClass = classNameLen[currentClassNameLenInd].className;
}

@section Header{
    <h1 class="@nameClass">@Model.Name</h1>
}

<br />
<p class="display-8 float-left w-75">@Model.Description</p>
<img class="float-right w-25 h-25" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0jfB_Q5HzpKJjpgRtrxhfhBWL8wZqXuLylA&usqp=CAU">

<p class="w-100" style="display:grid; margin:0;" />
<br />
<h1 class="display-5 v3">Active Discussions</h1>
<br />
@if (Model.Discussions != null && Model.Discussions.Count > 0)
{
    await Html.RenderPartialAsync("Partial/_DiscussionTable", Model.Discussions);
}
else
{
    <h1 class="display-5 v2 text-description">Nothing here yet!</h1>
    <br />
}
<br />
<h1 class="display-5 v3">Club Books</h1>
<br />
@if (Model.Books != null && Model.Books.Count > 0)
{
    await Html.RenderPartialAsync("Partial/_ClubBookTable", Model.Discussions);
}
else
{
    <h1 class="display-5 v2 text-description">Nothing here yet!</h1>
    <br />
}