@{
    Layout = "_ClubViewLayout";
}

@model DAL.Models.Club

@section IconBottom
{
    @if (ViewBag.IsUserMember!=null && ViewBag.IsUserMember)
    {
        <button class="btn btn-danger display-8"
                onclick="location.href='@Url.Action("Leave", "Members", new { id = Model.ID })'">
            Leave
        </button>
    }
    else
    {
        <button class="btn btn-success display-8"
                onclick="location.href='@Url.Action("Join", "Members", new { id = Model.ID })'">
            Join
        </button>
    }
}   